.otherlinks-box {
    margin-left: 10vh;
    padding-left: 8vh;
    background-color: #030026;
    width: 100vh
}

.otherlinks-header {
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 600;
  min-height: 30vh;
  margin-left: -4vh;
  margin-top: 26vh;
  padding-left: 0vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 3.14159vmin);
  color: white;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.actual-links {
    text-align: right;
    font-family: "Lexend Zetta", sans-serif;
    font-size: calc(10px + 1.5vmin);
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 46vh;
}

.actual-links a {
    color: white;

}


.actual-links a:hover {
    
}
