.social-box{
    margin-left: 10vh;
    padding-left: 8vh;
    background-color: #030026;
    width: 100vh

}

.socials-header{
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 600;
    min-height: 10vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.socials-header p {
    text-shadow: 0px 0px 25px #D277FF; 
}

.socialinks {
    min-height: 15vh;
    gap: 4vh;
    display: flex;
    align-items: flex-start;
}

.insta, .gith, .lin, .slack {
    height: 15vh;
    filter: drop-shadow(0px 0px 1px #D277FF);
}

.insta:hover {
    height: 15vh;
    filter: drop-shadow(0px 0px 4px #D277FF);
}

.gith:hover {
    height: 15vh;
    filter: drop-shadow(0px 0px 5px #D277FF);
}

.lin:hover {
    height: 15vh;
    filter: drop-shadow(0px 0px 5px #D277FF);
}

.slack:hover {
    height: 15vh;
    filter: drop-shadow(0px 0px 4px #D277FF);
}

a {
    text-decoration: none;
}

.socialinks p {
    font-family: "Lexend Zetta", sans-serif;
    font-size: calc(10px);
    color: white;
    margin-top:-18vh;
    margin-left: 8vh;
    visibility: hidden;
}

.slackbox:hover p {
  visibility: visible;
}