#root {
  width: 100%;
  min-height: 100vh;
  background-color: #e72cab;
}

#scroll-area {
  position: relative;
  height: 400vh;
  overflow: visible;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: block;
}

#next-section {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  margin-top: -100vh;
}