body {
  margin: 0;
  background-color: #EBDBF6;
  cursor: none;
  font-family: "DynaPuff", system-ui;

}

p {
  font-family: "Sour Gummy", sans-serif;
}

button {
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
