body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.row1 {
  display: flex;
  gap: 24vh; 
  align-items: flex-start;
}

.row2 {
  display: flex;
  gap: 21vh; 
  align-items: flex-start;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}


.homebutton {
  visibility: visible !important;
  display: inline-block !important;
  position: absolute;
  top: 3vh;  
  left: 3vw; 
  margin: 0; 
}

.homebutton-wrapper {
  position: relative;
  display: inline-block; 
}