.cursor {
  position: fixed;
  width: 40px;
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.cursor-glow {
  filter: drop-shadow(0 0 10px rgba(228, 58, 106, 0.8));
  position: fixed;
  width: 40px;
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}