.click4project {
    background-color: #030026;
    width: 30vh;
}

.click4project-header {
  background-color: #030026;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 600;
  min-height: 20vh;
  margin-left: -5vh;
  margin-top: 15vh;
  padding-left: 0vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
  position: relative;
  rotate: -20deg;
}

.click4project-header p {
    text-shadow: 0px 0px 25px #D277FF; 
}


.comets {
    position: absolute;
    top: 6vh;
    margin-top: 0vh;
    margin-left: -1vh;
    height: 43vh;
    width: 60vh;
}

.comet-animated {
  width: 60vh;
  z-index: 1;
  top: 0vh;
  left: 1vh;
  visibility: hidden;
  position: inherit;
  rotate: 20deg;
}

.comet-still{
  position: inherit;
  z-index: 4;
  width: 80vh;
  top: -9vh;
  left: -9vh;
  visibility: visible;
  clip-path: inset(25% 12% 23% 10%);
}

.comets:hover .comet-animated {
  visibility: visible;
}

.comets:hover .comet-still {
  visibility: hidden;
}
